.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  vertical-align: top;
  background: none;
  text-align: center;
  cursor: pointer;

  &--primary {
    // display: block;
    padding: 15px 30px;
    border-radius: 18px;
    background: #9DD458;
    color: $text-clr;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    transition: 0.3s linear background;

    &:hover {
      background: darken(#9DD458, 10%);
    }
    
    &:active {
      background: darken(#9DD458, 15%);
    }
  }
}